# Copyright (c) 2022 WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

# WSO2 Inc. licenses this file to you under the Apache License,
# Version 2.0 (the "License"); you may not use this file except
# in compliance with the License.
# You may obtain a copy of the License at

# http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

AWSTemplateFormatVersion: "2010-09-09"
Parameters:
  pDbUser:
    Type: String
  pDbPass:
    Type: String
  pDbEngine:
    Type: String
  pDbVersion:
    Type: String
  pDbInstanceClass:
    Type: String
    AllowedValues:
      - db.t2.medium
      - db.t2.large
      - db.t2.xlarge
      - db.t2.2xlarge
      - db.t3.small
      - db.m3.medium
      - db.m3.large
      - db.m3.xlarge
      - db.m3.2xlarge
      - db.m4.large
      - db.m4.xlarge
  pProductName:
    Type: String

Resources:
  TESTGRIDDB:
    Type: AWS::RDS::DBInstance
    Properties:
      MasterUsername: !Ref pDbUser
      MasterUserPassword: !Ref pDbPass
      Engine: !Ref pDbEngine
      EngineVersion: !Ref pDbVersion
      DBInstanceClass: !Ref pDbInstanceClass
      StorageType: gp2
      PubliclyAccessible: True
      AllocatedStorage: "20"
      DBInstanceIdentifier: testgrid-rds
      LicenseModel:
        !If [UseLicensedVersion, license-included, !Ref "AWS::NoValue"]
      Tags:
        - Key: name
          Value: !Ref pProductName
      MultiAZ: false
      BackupRetentionPeriod: 0

Outputs:
  TestgridDBJDBCConnectionString:
    Description: JDBC connection string for the master database
    Value: !Join ["", [!GetAtt [TESTGRIDDB, Endpoint.Address]]]
  TestgridDBJDBCPort:
    Description: JDBC port
    Value: !Join ["", [!GetAtt [TESTGRIDDB, Endpoint.Port]]]

Conditions:
  UseLicensedVersion:
    !Or [
      !Equals [sqlserver, !Select [0, !Split ["-", !Ref pDbEngine]]],
      !Equals [oracle, !Select [0, !Split ["-", !Ref pDbEngine]]],
    ]
